@font-face {
	font-family: 'Orbitron-Bold';
	src: url('/static/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }

html {
	padding-top: 150px;
	font-family: 'Orbitron-Bold', sans-serif;
	background: linear-gradient(45deg,
		#F14000,
		#CF3700,
		#FA4300,
		#AD2E00,
		#8B2500
	);
  	background-size: 200% 200%;
	background-attachment: fixed;  /* Ensures the background doesn't scroll */
	background-size: cover;
	animation: gradientShift 10s ease infinite;
	color: white;
}

@keyframes gradientShift {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
}

main {
	min-height: 100vh;
	/* center the content */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 3em;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
